.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
}

.recipe-card {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  margin: 20px;
  border: 2px dotted black;

  background-color: bisque;
}

.recipe-name {
  text-align: center;
}

.sub-header {
  font-style: italic;
}

.recipe-paragraph {
  text-indent: 30px;
}